// Bootstrap screen sizes
// -----------------------------------------------------------------------------
$bootstrap-screen-sizes: (
    'small'  : 576px,
    'medium' : 768px,
    'large'  : 992px,
    'xlarge' : 1200px
);

// Sidebars
// -----------------------------------------------------------------------------
$sidebar-width: 320px;
$sidebar-height: 100vh;

// Transition
// -----------------------------------------------------------------------------
$transition: all 0.6s;
